  /* 미표시 영역 */
  .top_mypage a:first-child,
  .toparea.display_pc_only,
  .bx-controls-direction,
  #footer .bt_logo,
  .inner .bt_util ul li[data-ez-item="company"],
  .inner .bt_util ul li[data-ez-item="guide"],
  .bt_tel .bt_title,
  .bt_tel .bt_txt01[data-ez-item="runtime"],
  .bt_tel .bt_txt01 strong,
  .bt_tel .bt_txt03,
  .bt_info .bt_title,
  .bt_info .bt_info_list span[data-ez-role="field"],
  .bt_info .bt_info_list div[data-ez-item="phone"],
  .bt_info .bt_info_list div[data-ez-item="company_regno"],
  .bt_info .bt_info_list div[data-ez-item="network_regno"],
  .bt_info .bt_info_list div[data-ez-item="cpo_name"],
  .bt_copyright,
  .bt_sns .bt_title,
  .bt_sns a[data-ez-item="facebook"],
  .bt_sns a[data-ez-item="kakao"],
  .bt_sns a[data-ez-item="twitter"],
  .bt_sns a[data-ez-item="blog"]{
    display: none !important;
  }


  /**************** 퀵메뉴버튼 영역 */
    .go-btn {
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 1000;
  }

    .go-btn>a {
      display: block;
      height: 40px;
      padding: 0;
    }

    .go-btn .btn-wrap {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      background-color: #000;
    }

    .go-btn img {
      display: inline-block;
      width: 25px;
      padding: 10px;
      background-color: #000;
      box-sizing: content-box;
      vertical-align: 0;
    }/* //퀵메뉴버튼 영역 */

  /**************** header 영역 */
  #header{
  border-bottom: 1px solid #000 !important;
}

#header .inner .top_nav_box .top_logo img {
    max-height: 80px !important;
}

#header .inner .top_nav_box {
  display: flex;
  align-items: center;
  background-color: #fff;
}

#header .inner .top_nav_box .top_logo img {
    max-width: 500px;
    max-height: 70px;
    padding-bottom: 5px;
}

#header .inner .top_nav_box .top_category > ul {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

#header .inner .top_nav_box .top_category > ul > li > a {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  padding-top: 3px;
}

#header .inner .top_nav_box .top_category .sub-category-box {
   font-family: "Archivo Black", sans-serif;
  }
#header .inner .top_nav_box .top_category .sub-category{
flex-direction: column;
}


  #header .inner .top_nav_box .top_category {
    margin-left: 25px;
}

  #header .inner .top_nav_box {
position: relative;
    max-height: 70px;
}

#header .inner .top_nav_box div[data-ez-module='menu-main/1'] {
    width: 100%;
}

  #header .inner .top_nav_box .top_mypage {
    margin-left: 0;
    position: absolute;
    right: 0;
}

#header .inner .top_nav_box .top_category > ul > li:last-child {
    right: 100px;
    position: absolute;
}








  /**************** footer 영역 */
  #footer {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.005em;
    background: #FFF;
    color: #1A1A1A;

    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #footer .inner {
    margin: 0;
    padding: 0;
    max-width: 5000px;
    width: 100%;
    color: #1a1a1a;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #footer .inner .in_left {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #footer .inner .in_left .info_wrap1 {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    justify-content: space-around;
    margin: 0 0 0 20px;
    padding: 10px 0 20px 0;
  }

  #footer .inner .in_left .bt_info {
    text-align: left;
    display: flex;
  }

  #footer .inner .bt_info .bt_info_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }

  #footer .inner .bt_info .bt_info_list>div {
    margin: 0 0 0 10px;
    max-width: 300px;
  }

  #footer .inner .bt_util {
    margin-bottom: 5px;
  }

  #footer .inner .bt_util ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #footer .inner .bt_util ul li {
    margin-bottom: 15px;
  }

  #footer .inner .bt_tel .bt_txt01 {
    margin-top: 5px;
  }

  #footer .inner .bt_sns a {
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    background: no-repeat center/contain;
    background-image: url(/myfolder/images/youtube_logo.png);
    text-indent: -999999px;
  }


  #footer .inner .bt_sns a[data-ez-item="instagram"] {
    background-image: url(/newfolder/images/icon_insta.png);
  }

  #footer .inner .bt_sns a[data-ez-item="youtube"] {
    background-image: url(/newfolder/images/icon_youtube.png);
  }

  #footer .inner .bt_sns a[data-ez-item="kakao"] {
    background-image: url(/newfolder/images/icon_kakao.png);
  }


  #footer .inner .in_left .info_wrap2 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;

  }


  #footer .inner .in_right {
    border-top: 1px solid #000;
    margin: 0 0;
    max-height: 200px;
    display: inline-block;
    overflow: hidden;
    flex-wrap: wrap;
  }

  /* 로고 js */
  #move_container {
    margin: 200px auto;
    width: 100vw;
    overflow: hidden;
  }

  #move_text {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .move_text_item {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0px 10px;
    transform: translateY(-15%);
  } /* //footer 영역 */



 
  

  /**************** main 영역 */
  body.main .footer_margin {
   margin-top: 0;
  } /* 메인페이지 푸터 마진 제거 */
   
   #container #contents > .section {
    max-width: 99999px;
   }

   #contents > section[data-ez-name="CUSTOM HTML"]{
    width: 100%;
    margin: 0;
    max-width: 5000px;
   }

   .ub-dan-item.col-3 {
    border: none;
    width: 50%;
    padding: 0;
    }

    .ub-dan-row{
      margin: 0;
    }
    
    .ub-dan-row img{
      display: block;
      width: 100%;
      height: 100%;
    }

    .smart-banner-bx-wrapper img {
    max-height: 1200px;
   }

    .ub-dan-row .image-overlay{
      position: absolute;   
      bottom: 17px;
    }
    
    .ub-dan-row .image-overlay p{
      font-size: 17px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 55px #000, 0 0 75px #000;
    padding-left: 17px;
    bottom: 0;
    transition: all 0.5s ease;
    opacity: 0;
    }

    .ub-dan-item:hover .image-overlay p{
    opacity: 1;
    }

    div[app4you-smart-banner="smart-banner-admin-PC00008"]{
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      position: relative;
      width: 100%;
    }
    div[app4you-smart-banner="smart-banner-admin-PC00009"]{
      border-top: none;
      position: relative;
      width: 100%;
    }
  .xans-smart-banner-admin {
    margin: 0;
   }
  .ub-dan-item{
    display: flex;
  }  
  

/* 메인 페이지네이션 버튼 영역 */
.bx-pager-item {
    background-image: url(/newfolder/images/bt_01.png);
    background-color: transparent; 
    width: 30px; 
    height: 20px; 
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.smart-banner-bx-wrapper .bx-pager.bx-default-pager a{
  width: 30px !important;
  height: 20px !important;
  margin: 0 !important;
  background: transparent !important;
}
.smart-banner-bx-wrapper .bx-pager.bx-default-pager a.active {
    background-image: url(/newfolder/images/bt_02.png) !important;
    background-color: transparent;
    width: 30px !important; 
    height: 20px !important; 
    opacity: 1;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}/* //main 영역 */









  /****************미디어쿼리 */
  @media (max-width: 1024px) {
    .go-btn{
      display: none;
    }

    #container #contents {
      width: 100%;
    }
   #header.fixed {
     border-bottom: 1px solid #000 !important;
    }
    #header .inner {
    max-height: 60px;
  }

    #header .inner .top_nav_box {
    justify-content: space-around;
   }

    #header .inner .top_nav_box div[data-ez-module='menu-main/1']{
    display: none;
    }
    .bottom-nav__top--show {
        opacity: 0;
      }
    .bottom-nav__tabBar {
      display: none !important;
    }
   #header .inner .top_nav_box .top_mypage {
   position: static; 
   }






    #footer .inner {
      flex-wrap: wrap;
    }

    #footer .inner .in_left,
    #footer .inner .in_right {
      flex-basis: 100%;
      border-right: none;
      max-height: 250px;
    }

    #footer .inner .bt_tel {
      margin-bottom: 0;
    }

    #footer .inner .in_left .info_wrap2 {
      padding: 25px 15px 20px;
    }

    #footer .inner .bt_info {
      margin-bottom: 0;
    }

    #footer .inner .bt_info .bt_info_list {
      margin-top: 10px;
    }

    #footer .inner .bt_tel .bt_txt01 {
      margin-top: 0;
    }

    #footer .inner .bt_util ul li {
    margin-bottom: 10px;
    }
     #footer .inner .bt_sns a[data-ez-item="kakao"] {
     display: block !important;
    }





  /* 메인 스마트배너 대형 이미지 */
     .xans-smart-banner-admin{
   width: 100%;
   min-height: 600px;
   }

   .smart-banner-wrapper{
    height: 100%;
    overflow: hidden;
   }

   .smart-banner-bx-wrapper img {
    min-height: 600px;
   }

  li a picture {
    display: block;
    width: 100%;
    height: 100%;
}

li a picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



  /* 배너마스터 중간 이미지 */
    .row{
      margin: 0;
    }
    .ub-dan-row.md-scroll {
      flex-direction: column;
    }
    .ub-dan-row.md-scroll .ub-dan-item {
    width: 100%;
    max-width: 100vw;
    position: relative;
    }
    div[app4you-smart-banner="smart-banner-admin-PC00008"] {
      border-right: none;
    }
    div[app4you-smart-banner="smart-banner-admin-PC00009"] {
     border-top: none;
    }

    .ub-dan-row .image-overlay {
    padding-left: 10px;
    bottom: 13px;
    }

    .ub-dan-row .image-overlay p {
      opacity: 1;
      position: absolute;
      display: contents;
      font-weight: 500;
    }
    .xans-smart-banner-admin {
      min-height: 0;
    }

  } /* //@media (max-width: 1024px) */



  /* footer .in_left 높이 조정 영역 */
  @media (max-width: 500px) {
    #footer .inner .in_left .info_wrap1{
      max-width: 200px;
    }  
  }
  @media (max-width: 350px) {
    #footer .inner .in_left{
      flex-direction: column;
    }
    #footer .inner .in_left .info_wrap2 {
     position: static;
   }
     #footer .inner .bt_tel {
      margin-bottom: 0;
    }
    #footer .inner .in_left .info_wrap2 {
      padding: 0px 15px 20px;
    }
    #footer .inner .in_left, #footer .inner .in_right {
      max-height: none;
    }
  }